main {
    border: 10px rgb(15, 0, 63) dashed;
    margin: 0px 50px;
}

section {
    border: solid black 30px;
    margin: 50px auto;
    height: 300px;
    text-align: center;
}

section.caixaTipo1 {
    background-color: rgb(197, 251, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 15pt;
    font-weight: bolder;
}

section.caixaTipo2 {
    background-color: rgb(255, 196, 196);
}

header {
    margin-top: 50px;
}

.titleTipe1 {
    color: rgb(255, 0, 0);
}

.titleTipe2 {
    color: rgb(34, 0, 255);
}

.caixaTipo99 {
    border: 2px solid blue;
    background-color: gray;
    border-radius: 20px;
}

#blocoPag2 {
    border: 4px solid yellow;
    background-color: brown;
    display: grid;
    grid-template-columns: auto auto;
}